h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0;
}

table thead td, table thead th {
	font-weight: bold;
}


/* TODO: remove hardcoded styles */
table {
	border-collapse: collapse;
}

td, th {
	padding: 4px 8px;
}

tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

table.commits-table {
	width: 100%;
	table-layout: fixed;
}

table.commits-table td {
	white-space: nowrap;
}

table.commits-table td.author-col {
	width: 15%;
	overflow: hidden;
	text-overflow: ellipsis;
}

table.commits-table td.age-col {
	width: 10%;
}

table.commits-table td.changes-col {
	width: 15%;
}

table.commits-table td.message-col {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/* diffs */
/* TODO: add more colors to text*/
.diff-file {
	margin: 16px 0;
}

.diff-file-header {
	font-weight: bold;
	margin-bottom: 4px;
}

.diff-status-new {
	color: green;
}

.diff-status-deleted {
	color: red;
}

.diff-status-renamed {
	color: blue;
}

.diff-code {
	margin: 0;
	padding: 0;
	font-family: monospace;
	font-size: 12px;
	overflow-x: auto;
}

.diff-binary {
	color: #666;
	font-style: italic;
	margin: 4px 0;
}










