h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0;
}

table thead td, table thead th {
	font-weight: bold;
}


/* TODO: remove hardcoded styles */
table {
	border-collapse: collapse;
}

td, th {
	padding: 4px 8px;
}

tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

table.commits-table {
	width: 100%;
	table-layout: fixed;
}

table.commits-table td {
	white-space: nowrap;
}

table.commits-table td.author-col {
	width: 15%;
	overflow: hidden;
	text-overflow: ellipsis;
}

table.commits-table td.age-col {
	width: 10%;
}

table.commits-table td.changes-col {
	width: 15%;
}

table.commits-table td.message-col {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/* diffs */
/* TODO: add more colors to text*/
.diff-file {
	margin: 16px 0;
}

.diff-file-header {
	font-weight: bold;
	margin-bottom: 4px;
}

.diff-status-new {
	color: green;
}

.diff-status-deleted {
	color: red;
}

.diff-status-renamed {
	color: blue;
}

.diff-code {
	margin: 0;
	padding: 0;
	font-family: monospace;
	font-size: 12px;
	overflow-x: auto;
}

.diff-added {
	color: green;
}

.diff-removed {
	color: red;
}

.diff-hunk {
	background-color: lightgray;
}

.diff-binary {
	color: #666;
	font-style: italic;
	margin: 4px 0;
}

/* blobs */
/* syntax highlighting maybe?? */
.blob-container {
	margin: 16px 0;
	border: 1px solid lightgray;
	overflow-x: auto;
}

.blob-table {
	width: 100%;
	border-collapse: collapse;
}

.blob-table tbody tr {
	background-color: white;
}

.blob-line-num {
	width: 50px;
	padding: 0 10px;
	text-align: right;
	color: gray;
	background-color: #f5f5f5;
	border-right: 1px solid lightgray;
	user-select: none;
	font-family: monospace;
	font-size: 12px;
}

.blob-code {
	padding: 0;
	vertical-align: top;
}

.blob-code pre {
	margin: 0;
	padding: 0 10px;
	font-family: monospace;
	font-size: 12px;
	overflow: visible;
}

/* search highlighting */
mark {
	background-color: yellow;
	font-weight: bold;
}

/* search results table */
table.search-table {
	width: 100%;
	table-layout: fixed;
}

table.search-table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table.search-table td.commit-col {
	width: 6%;
}

table.search-table td.author-col {
	width: 11%;
}

table.search-table td.date-col {
	width: 8%;
}

table.search-table td.message-col {
	width: 75%;
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}




















