<!DOCTYPE html>
<html>
<head>
    <title>Git Webview</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h2>Repositories</h2>
        <a href="/create">Create new</a>
    <hr>

    {% if repos %}
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Last Updated</td>
            </tr>
        </thead>
        <tbody>
            {% for repo in repos %}
            <tr>
                <td><a href="/{{ repo.name }}/">{{ repo.name }}</a></td>
                <td>{{ repo.description }}</td>
                <td>{{ repo.last_updated | datetime if repo.last_updated else '-' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No repositories found</p>
    {% endif %}
</body>
</html>